h1{
  font-family: helvetica;
  color: blue;

}

.container{
  text-align: center;
}

table{
  border: 3px solid #cccccc;
  width: 600px;
  height: 600px;
}

td{
  padding: 25px;
  border: 1px solid #ffffff;
}

.valid{
  background-color: #cccccc;
  background-size: cover;
}

.messi{
  background-image: url('/assets/messi.png');
}

.ronaldo{
  background-image: url('/assets/ronaldo.png');
}

.active{
  background-color: #222222;
}

.selected{
  border: 1px solid red;
}
